/* google -font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'maima'; /* Name your font family */
    src: url('../assets/font/Miama.ttf'); }


*{
    margin: 0;
    padding: 0;
}

.nav-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(35, 35, 35);
   padding: 40px 120px;
}

.logo i{
    color: rgb(230, 83, 60);
  font-size: 2.5rem;
  font-weight: 800;
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid rgb(51, 51, 51);
    padding: 3px 35px 3px 3px;
    border-radius: 30px;
}
.navigation ul li{
    list-style: none;

}
.navigation ul li:nth-child(1){
    background-color: #ff3407;
    border-radius: 20px;
    padding: 8px 15px;
}

.navigation ul li>a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;

}

.versatile-hero-section{
     display: flex;
     justify-content:space-between;
     align-items: center;
     gap: 80px;
     padding: 200px 120px;
     background-color: rgb(35, 35, 35);
}

.vesatile-left-contant-wrap{
   width:calc(50% - 40px);
   margin: 0 auto;
  
}

.vesatile-left-contant-wrap h1{
    color: rgb(255, 255, 255);
  font-size: 5rem;
 text-transform: capitalize;
 line-height: 120%;
 font-weight: 900;
}

.vesatile-left-contant-wrap span{
    color: #fff;
    font-size: 5rem;
font-family: 'maima'; 
 }

 .vesatile-left-contant-wrap p{
    color: #6c6c6c;
    font-size: 1rem;
   text-transform: capitalize;
   margin: 25px 0px;
   line-height: 25px;
  }

  .vesatile-left-contant-wrap button{
     padding: 14px 35px;
     margin-right: 20px;
     color: #ffffff;
     background-color: #ff3407;
     border-radius: 50px;
     letter-spacing: 1px;
     font-size: 1.1rem;
     transition: .5s;
     cursor: pointer;
     border:none;
     margin-top:25px
  }

  .vesatile-left-contant-wrap button:hover{
    color: #42e9ff;
    background-color: transparent;
    border: 1px solid blanchedalmond;

  }


.versatile-right-content-wrap{
    width:calc(50% - 40px);
    margin: 0 auto;
    align-content: end;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.versatile-right-content-wrap img{
     width:100%;
     
}

.workouts{
    width:150px;
    backdrop-filter: blur(10px);
    border-radius:15px;
    border: 1px solid rgb(125, 125, 125);
    background-color: #6c6c6c3c;
    text-align: left;
    padding: 15px 20px 15px 20px;
    margin-bottom: -365px;
}
.workouts h2{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.workouts span{
    color: #969494;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





.tutorials{
    width:190px;
    height: 100px;
    background-color: #6c6c6c3c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius:15px;
    border: 1px solid rgb(125, 125, 125);
    margin-top: -190px;
    margin-right: 344px;
}






.tutorial-content h2{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tutorial-content span{
    color: #979797;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tip{
  width:50px;
  height: 50px;
  background-color: #ff3407;
  border-radius: 50%;

}








/* footer-style-start-here */

.versetile-footer{
    padding: 66px 120px 0px;
    background-color:rgb(26, 26, 26);
}

.upper-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;

}

.footer-left{
  width:calc(44% - 40px)
}

.footer-left h1{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 4.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-left p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
line-height: 24px;
}


.footer-center h3, .footer-right h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 39px;
}

.footer-center span, .footer-right span{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    margin-bottom:20px;
    display:block;
}

.bottom-footer{
    border-top:2px solid rgba(255, 255, 255, 0.1);
}

.bottom-footer span{
    color: rgba(255, 255, 255, 0.5);
font-size:1.3rem;
font-weight: 400;
line-height: 24px;
text-align: center;
display: block;
padding:35px 0px;
}
